.caption {
    height: 180px;
    overflow: hidden;
    text-align: center;
}
.caption2 {
    height: 180px;
    overflow: hidden;
    text-align: left;
}

.caption3 {
    height: 300px;
 overflow: hidden;
    text-align: center;
}
#breadnone{
color:#ffffff;
background-color:#0a3760;
}
#thumbnail .img {
   { width: 250; height: auto; }
}

@media(max-width: 550px){
.mobdiv{display:none;}
}

img.resized { width: 200px; height: auto; }

